/* COLORS */

$primary: #FC4D0D;
$primary-light1: #FD6A35;
$primary-light2: #FD885D;
$primary-light3:  #FEA686;
$primary-light4: #FEC4AE;
$primary-light5: #FFE2D7;
$primary-dark1: #DE3D02;
$primary-dark2: #B63202;
$primary-dark3: #A22C01;
$secondary: #152242;
$secondary-dark1: #0F182F;
$secondary-light1: #22386D;
$secondary-light2: #2C498C;
$secondary-light3: #3659AB;
$secondary-light4: #456BC4;
$secondary-light5: #6484CE;
$secondary-light6: #839CD8;
$grey: #757780;
$light-grey: #E5E5E5;
$white: #ffffff;

